.swatch {
    height: 75px;
    width: 75px;

    background-position: center center;
    background-repeat: repeat;
    box-shadow: none !important;
}

input.swatch {
    border: 0;
    outline: 0;
    padding: 0;
}

input::-webkit-color-swatch {
    border: none;
}

.swatch.is-selected {
    border: 3px solid #007bff !important;
}
