@model Etch.OrchardCore.Fields.Code.ViewModels.EditCodeFieldSettingsViewModel

@{ 
    var items = new List<SelectListItem>
    {
        new SelectListItem { Value = "css", Text = "CSS" },
        new SelectListItem { Value = "html", Text = "HTML" },
        new SelectListItem { Value = "javascript", Text = "JavaScript" }
    };
}

<div class="form-group">
    <label asp-for="Language">@T["Language"]</label>
    <p class="hint">Select which language will be used in editor.</p>

    <select class="form-control col-sm-3" asp-for="Language" asp-items="@items"></select>
</div>