@model Etch.OrchardCore.Fields.Dictionary.ViewModels.DisplayDictionaryFieldViewModel
@using OrchardCore.Mvc.Utilities;

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}

@if (Model.Data != null)
{
    <ul class="field field-type-dictionary field-name-@name">
        @foreach (var dictionaryItem in Model.Data)
        {
            <li><em>@dictionaryItem.Name</em>: @dictionaryItem.Value</li>
        }
    </ul>
}