@model Etch.OrchardCore.Fields.EventBrite.ViewModels.EditEventBriteFieldViewModel

@if (!Model.HasApiKey)
{
    <div class="alert alert-warning" role="alert">@T["An Eventbrite API key needs to be added before using this field."]</div>
}
else
{
    <fieldset class="form-group">
        <div class="row col-sm-6">
            <label asp-for="Value">@T["Event Id"]</label>
            <input type="text" asp-for="Value" class="form-control" readonly="readonly" />
            <span class="hint">@T["Event Id or Event Dashboard link for the event. E.g. https://www.eventbrite.co.uk/myevent?eid=50902591020"]</span>
        </div>
    </fieldset>
}