@using Etch.OrchardCore.Fields.Eventbrite

<p class="alert alert-warning">
    <a asp-route-area="OrchardCore.Settings" asp-controller="Admin" asp-action="Index" asp-route-groupId="@Constants.SettingsGroupId" asp-route-returnUrl="@FullRequestPath">@T["Please specify Eventbrite API key to use for field."]</a>
</p>