@model Etch.OrchardCore.Fields.Eventbrite.ViewModels.EditEventbriteFieldViewModel

<div class="mb-3">
    <div class="w-md-50 pe-md-3">
        <label asp-for="Value">@T["Event Id"]</label>
        <input type="text" asp-for="Value" class="form-control" />
        <span asp-validation-for="Value"></span>
        <span class="hint">@T["Event Id or Event Dashboard link for the event (e.g. https://www.eventbrite.co.uk/myevent?eid=50902591020)"]</span>
    </div>
</div>

@if (Model.Field.Data != null)
{
    <div class="mb-3">
        <p><a href="@Model.Field.Data.Url">@T["View {0} on Eventbrite", Model.Field.Data.Name]</a>.</p>
    </div>
}