@model Etch.OrchardCore.Fields.MultiSelect.ViewModels.DisplayMultiSelectFieldViewModel

@if (Model.HasValues)
{
    <ul class="@Model.PartFieldDefinition.HtmlClassify()">
        @foreach (var value in Model.SelectedValues)
        {
            <li>@value</li>
        }
    </ul>
}